CommonLib/Service References/ColumbusServiceReference/ColumbusArchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ColumbusArchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.31:9003/ServiceIntergration/ColumbusArchService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.31:9003/ServiceIntergration/ColumbusArchService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.31:9003/ServiceIntergration/ColumbusArchService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IColumbusArchService_RunTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RunTask" />
  </wsdl:message>
  <wsdl:message name="IColumbusArchService_RunTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IColumbusArchService_RunSimplyEnergyTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RunSimplyEnergyTask" />
  </wsdl:message>
  <wsdl:message name="IColumbusArchService_RunSimplyEnergyTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunSimplyEnergyTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IColumbusArchService">
    <wsdl:operation name="RunTask">
      <wsdl:input wsam:Action="http://tempuri.org/IColumbusArchService/RunTask" message="tns:IColumbusArchService_RunTask_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IColumbusArchService/RunTaskResponse" message="tns:IColumbusArchService_RunTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunSimplyEnergyTask">
      <wsdl:input wsam:Action="http://tempuri.org/IColumbusArchService/RunSimplyEnergyTask" message="tns:IColumbusArchService_RunSimplyEnergyTask_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IColumbusArchService/RunSimplyEnergyTaskResponse" message="tns:IColumbusArchService_RunSimplyEnergyTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IColumbusArchService" type="tns:IColumbusArchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunTask">
      <soap:operation soapAction="http://tempuri.org/IColumbusArchService/RunTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSimplyEnergyTask">
      <soap:operation soapAction="http://tempuri.org/IColumbusArchService/RunSimplyEnergyTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColumbusArchService">
    <wsdl:port name="BasicHttpBinding_IColumbusArchService" binding="tns:BasicHttpBinding_IColumbusArchService">
      <soap:address location="http://192.168.0.31:9003/ServiceIntergration/ColumbusArchService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>