CommonLib/Service References/ColumbusServiceReference/ColumbusArchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.31:9003/ServiceIntergration/ColumbusArchService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RunTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isProduction" type="xs:boolean" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="archiveXmlPath" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstPdfsToArchive" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSimplyEnergyTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isProduction" type="xs:boolean" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="archiveXmlPath" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstPdfsToArchive" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunSimplyEnergyTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunSimplyEnergyTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>