CommonLib/Service References/WcfServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RunApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="para" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunInteractiveProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="para" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunInteractiveProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunInteractiveProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>